# {{ ansible_managed }}

[Unit]
Description=Sentry main service
After=network.target

[Service]
Type=simple
User={{ sentry__user }}
Group={{ sentry__group }}
WorkingDirectory={{ sentry__root_path }}
EnvironmentFile={{ sentry__root_path }}/env.d/*.conf
ExecStart={{ sentry__venv_path }}/bin/sentry run worker

[Install]
WantedBy=multi-user.target
